<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
</head>
<body>

<h2>Danh sách Sản phẩm</h2>

<a th:href="@{/product/save}">+ Thêm sản phẩm</a>

<br/><br/>

<table border="1" cellpadding="8" cellspacing="0">
    <thead>
    <tr>
        <th>#</th>
        <th>Tên sản phẩm</th>
        <th>Danh mục</th>
        <th>Thương hiệu</th>
        <th>Trạng thái</th>
        <th>Thao tác</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${productList}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.category.name}"></td>
        <td th:text="${product.brand.name}"></td>
        <td th:text="${product.status}"></td>
        <td th:text="${product.createdAt}"></td>
        <td>
            <a th:href="@{/product/save/{id}(id=${p.id})}">Sửa</a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>