<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head>
    <meta charset="UTF-8"/>
    <title>Cập nhật Thương hiệu</title>
</head>
<body>

<h2>Cập nhật Thương hiệu</h2>

<a th:href="@{/brand}">← Quay lại</a>

<br/><br/>

<form th:action="@{/brand/save/{id}(id=${id})}" th:object="${brandRequest}" method="post">

    <label>Tên thương hiệu:</label><br/>
    <input type="text" name="brandName" th:field="*{brandName}"/><br/><br/>

    <label>Trạng thái:</label><br/>
    <select name="brandStatus", th:field="*{brandStatus}">
        <option value="">-- Chọn trạng thái --</option>
        <option th:each="status : ${T(com.g4fpt.sms.product.enums.BrandStatus).values()}"
                th:value="${status}"
                th:text="${status}">
        </option>
    </select><br/><br/>

    <button type="submit">Lưu thay đổi</button>
    <a th:href="@{/brand}">Hủy</a>

</form>

</body>
</html>