<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head>
    <meta charset="UTF-8"/>
    <title>Chi tiết Đơn vị tính</title>
</head>
<body>

<h2>Chi tiết Đơn vị tính</h2>

<a th:href="@{/unit}">← Quay lại</a>

<br/><br/>

<form th:action="@{/unit/form/{id}(id=${id})}" th:object="${unitRequest}" method="post">

    <label>Tên đơn vị:
        <input type="text" name="name" th:value="${name}"/>
    </label>
    <button type="submit">Lưu thay đổi</button>
    <a th:href="@{/unit}">Hủy</a>
    
</form>

</body>
</html>